{% extends 'base.html.twig' %}
{% block title %}Skapa Bok{% endblock %}
{% block body %}
    <h1>Skapa en bok</h1>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.isbn) }}
        {{ form_row(form.image) }}
    {{ form_end(form) }}
{% endblock %}