{% extends 'base.html.twig' %}
{% block title %}Uppdatera Bok{% endblock %}
{% block body %}
    <h1>Uppdatera detaljer på boken</h1>
    {{ form_start(form) }}
        {{ form_row(form.title, {'label': 'Titel'}) }}
        {{ form_row(form.author, {'label': 'Skapare'}) }}
        {{ form_row(form.isbn) }}
        {{ form_row(form.image, {'label': 'Bild'}) }}
        {{ form_row(form.save, {'label': 'Uppdatera'}) }}
    {{ form_end(form) }}
    <p><a href="{{path('library_all') }}"class="button">Tillbaka till alla böcker</a></p>
{% endblock %}